{{ "<!-- Hero -->" | safeHTML }}
<header>
    <div class="container" id="Shade">
        <div class="intro-text">
            <div class="intro-lead-in">{{ with .Site.Params.hero.title }}{{ . | markdownify }}{{ end }}</div>
            <div class="intro-heading">{{ with .Site.Params.hero.subtitle }}{{ . | markdownify }}{{ end }}</div>
            <div class="intro-lead-in">{{ with .Site.Params.meta_description }}{{ . | markdownify }}{{ end }}</div>
            <a href="#services" class="page-scroll btn btn-xl">{{ with .Site.Params.hero.buttonText }}{{ . }}{{ end }}</a>
            <a href="https://webstore.ncl.ac.uk/conferences-and-events/faculty-of-science-agriculture-engineering/mathematics-statistics-and-physics/satrday-2020" class="page-scroll btn btn-xl" id="btn-register">Register</a>
        </div>
    </div>
</header>
